@import url(reset.css);

/* 메인메뉴.css */
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* common */
body{font-size: 15px; font-family: 'GowunBatang-Regular'; color: #000;}
a{text-decoration: none; color: #000;}

/* layout */
header{position: relative; width: 375px; height: 95px; background: #5a8d26;}
#container{position: relative; width: 375px;height: 642px; background: #ffff;}
footer{position: relative; width: 375px;height: 75px;background: #5a8d26;}
    .foot_inner{width: 100%; height: 100%; padding: 23.4px 35.5px; }

/* header */
header h2{position: absolute; top: 36px; left: 50%; transform: translateX(-50%); width: 201px;
        font-size: 30px; font-weight: bold; color: #fff;}
nav{z-index: 10; opacity: 0; position: absolute; top: 0;width: 267px; height: 737px;background:#fecc47; transform: translateX(-500px);
    transition: all 0.5s linear 0.8s;}
nav > div.btn_close{position: absolute; top: 21px; left: 16.5px;}
nav > span{position: absolute; top: 50px; right: 44px;}
nav > p{position: absolute; top: 64px; left: 17px; font-family: 'GowunBatang-Bold'; color: #fa990e;}
nav > p > strong{display: inline-block; color: #104b0b; font-size: 20px; margin-top: 6px;}
nav > p > span{color: #104b0b;}
nav > ul{position: absolute; top: 129.5px;}
nav > ul li{position: relative; width: 266.5px; height: 102px; border-top: solid 1px #5a8d26;}
nav > ul li a{display: block; position: absolute; top: 33px; left: 17px;
            font-size: 25px; font-family: 'GowunBatang-Bold'; color: #104b0b;}
#gnb.on{opacity: 1; transform: translateX(0px);}

/* container */
section{position: absolute;border-radius: 15px; background-color: #fecc47; cursor: pointer;}
section:hover{background-color: #FA990E;}
section:nth-of-type(1){top: 41px; left: 50%; transform: translateX(-50%); width: 340px; height: 153px;}
section:nth-of-type(1) p{position: absolute; left: 51px; top: 50%; transform: translateY(-50%); 
                        font-size: 25px; font-family: 'GowunBatang-Bold'; color: #fff;}
section:nth-of-type(1) img{position: absolute; right: 35px; top: 50%; transform: translateY(-50%);}                      
section:nth-of-type(2){top: 208px; left: 25%; transform: translateX(-50%); width: 160px; height: 165px;}
section:nth-of-type(2) p{position: absolute; top: 22px; left: 50%; transform: translateX(-50%);
                        font-size: 25px; font-family: 'GowunBatang-Bold'; color: #fff;}
section:nth-of-type(2) img{position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%);}
section:nth-of-type(3){top: 208px; right: 25%; transform: translateX(50%); width: 160px; height: 165px;}
section:nth-of-type(3) p{position: absolute; top: 9px; left: 50%; transform: translateX(-50%); width: 88px;
                    font-size: 25px; font-family: 'GowunBatang-Bold'; color: #fff; text-align: center; line-height: 25px;}
section:nth-of-type(3) img{position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%);}
section:nth-of-type(4){top: 388px; left: 50%; transform: translateX(-50%); width: 340px; height: 153px;}
section:nth-of-type(4) p{position: absolute; right: 57px; top: 50%; transform: translateY(-50%); 
                    font-size: 25px; font-family: 'GowunBatang-Bold'; color: #fff;}
section:nth-of-type(4) img{position: absolute; left: 51px; top: 50%; transform: translateY(-50%); }   
section:nth-of-type(5){top: 558px; left: 50%; transform: translateX(-50%); width: 340px; 
                    border-radius: none; background-color: #fff;}
section:nth-of-type(5) input[type="search"]{width: 268px; height: 52px; border-radius: 10px; border: solid 3px #5a8d26;}
section:nth-of-type(5) button{background: #fff; border: none; margin-left: 10px;cursor: pointer;}

/* footer */
    .bar-item {
    position: absolute;
    overflow: hidden;
    padding: 20px 25px;
    cursor: pointer;
  }
  .bar-item:nth-of-type(1){top: 0px; left: 10px;}
  .bar-item:nth-of-type(2){top: 0px; left: 50%; transform: translateX(-50%);}
  .bar-item:nth-of-type(3){top: 0px; right: 10px;}
  
    .bar-item i {
    z-index: 1;
    color: #D8ECC7;
    transition: all .3s ease-in-out;
    font-size: 34px;
  }
  
    .bar-item.pre-active i {
    color: #D8ECC7;
  }
  
    .bar-item.active i {
    color: #fff;
    animation: colour 1s ease-in-out;
  }
  
    .bar-item.active .bar-fluid {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 0px;
    animation: fluid 1s ease-in-out;
  }
  
    .bar-item.active .bar-fluid:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -50%;
    background-color: #5a8d26;
    width: 110%;
    height: 400%;
    border-radius: 50%;
  }
  
    .bar-item.active .bar-fluid:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -50%;
    background-color: #5a8d26;
    width: 110%;
    height: 400%;
    border-radius: 50%;
  }
  
    .bar-item.active .drop {
    position: absolute;
    top: -2.5px;
    left: 30.5px;
    background-color: #fff;
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
    animation: drop 1s ease-in-out;
  }
  
  @keyframes colour {
    0% { color: #D8ECC7; }
    55% {
      color: #D8ECC7;
      transform: scale(1);
    }
    60% {
      color: #fff;
      transform: scale(1);
    }
    70% { transform: scale(1.1); }
    80% { transform: scale(1); }
  }
  
  @keyframes fluid {
    0% { height: 0px; }
    30% { height: 10px; }
    100% { height: 0px; }
  }
  
  @keyframes drop {
    20% { top: -2.5px; }
    50% { top: 21px; }
    51% { top: -2.5px; }
  }






